#banner-title-wrp.page-header
  %h1
    %span#banner-title Higgs CI
    %small#banner-subtitle.visible-desktop
      higgs reports and management, by
      %a{href: 'http://nextreamlabs.org'}nextreamlabs
%blockquote#banner-quote.visible-desktop
  %p Did you think that there could be continuous integration without reports? :)
  %small Someone famous in nextreamlabs
